/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
/* Variables */
:root {
    --background-color:#eae7dc;
    --nav-font-color:#25242a;
  }

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    overflow-y: hidden;
    background:url(../assets/background.jpg) no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
.main-container {
    height: inherit;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family:'Nunito', sans-serif;
    
}
.caption-container {
    margin-top: 1%;
    padding: .7%;
    width: 30%;
    border-bottom: 1px solid #ddd9cd;
    border-radius: 2%;
    display: flex;
    justify-content: center;
}
.recipe-caption {  
    letter-spacing: .1em;
    color: #25242ada;
    font-weight: 500;
}
.recipe-scroller {
    margin-top: 1%;
    height: 75%;
    width: 93%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    overflow-x: auto;
    background-color: #f5efd71f;
    border: 1px solid #eae7dc;
    border-radius: 1em;
}
.recipe-card {
    margin: 5%;
    padding: 5%;
    background-color: #ffffffbd;
    border: 1px solid #817e7e57;
    border-radius: .5em;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    overflow-wrap: break-word;
    transition: .4s;
}
.recipe-card:hover {
    box-shadow:2px 2px 3px 2px #8a808081;
    border: 1px solid #18181857;
    transform: translateY(-3px);
}
.recipe-title {
    letter-spacing: .1em;
    font-weight: 500;
    font-size: 1.2em;
    overflow-wrap: inherit;
    color: #e85a4f;
}
.recipe-image {
    inline-size: 100%;
    object-fit: cover;
    border-radius: 1em;
}
.recipe-summary {
    margin-bottom: 4%;
    text-align: left;
    overflow-wrap: inherit;
}
form {
    width: 70%;
    display: flex;
    justify-content: center;
}
.directions-button {
    padding:1rem 3.5rem;
    border:2px solid #e85a4f;
    color:#e85a4f;
    letter-spacing: .1em;
    background-color: white;
    border-radius: .5rem;
    font-size: 1em;
    transition: .3s;
}
.directions-button:hover { 
    color: white;
    background-color: #e85a4f;
}
.directions-button:active {
    transform: translateY(3px);
}
.recipe-summary p {
    margin-top: 3%;
    color: var(--font-color);
    letter-spacing: .05em;
    font-weight: normal;
}
.accent2{
    color: #A44A3F;
}
.accent1 {
    color: #e85a4f;
}


