{% extends 'nav-bar.html' %}
{% block title %} Grocery List{% endblock %}  <!-- here goes the caption displayed in the browser's tab -->
{% block css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/grocery-list.css') }}">
{% endblock css %}

{% block body %}

<section class="home" id="home">
    <div class="content">
        <h3>Shopping List</h3>
        {% if not grocery_list%}
        <p>Nothing Here</p>
        {% else %}
        {% for grocery, quantity in grocery_list.items() %}
        <p>{{grocery}} x({{quantity}})</p> 
        {% endfor %}
        {% endif %}
        {% if grocery_list%}
        <a href="mailto:{{user_email}}?subject=BiteHunt Grocery List&body={{email_body}}" class="btn">Email </a>
        <a onclick="window.print();" class="btn">Print </a> 
        {% endif %}
    </div>
    <div class="image">
        <img src="{{ url_for('static', filename='assets/grocery.png')}}" alt="">
    </div>
</section>

{% endblock body %}