{% extends 'nav-bar.html'%}
{% block title%}-BiteHunt{%endblock title%}
{% block css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/home.css') }}">
{% endblock css %}



{% block body %}

<section class="home" id="home">

    <div class="content">
        <h3>Empty your fridge and fill your stomach today!</h3>
        <p>Dont know what to cook, no worries, we got you covered!</p>
        <p>Enter your email and click browse now to get started.</p>
        <a href="/search" class="btn">Browse Now</a>
        <a href="/email" class="btn">Get Started</a>
    </div>

    <div class="image">
        <img src="{{ url_for('static', filename='assets/cooking_team.JPG')}}" alt="">
    </div>

</section>



<div class="loader-container">
    <img src="{{url_for('static', filename='assets/loader.gif')}}" alt="">
</div>     
<!-- link to javascript page  -->
<script src="{{ url_for('static', filename='home.js')}}"></script>
    
{% endblock body %}