{% extends 'nav-bar.html' %}
{% block title %}- My Recipes{% endblock title %}
{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/recipes.css') }}">
{% endblock css %}
{% block body %}
{% if not recipes %}
<div class="main-container">
    <div class="caption-container">
        <h2 class="recipe-caption">No recipes found. Please add more ingredients to your fridge!</h3>
    </div>
</div>
{% else %}
<div class="main-container">
    <div class="caption-container">
        <h2 class="recipe-caption">{% if new_recipes %}Give these recipes a try!{% else %}My Recipes{% endif %}</h2>
    </div>
    <div class="recipe-scroller">
        {% for recipe in recipes %}
        <div class='recipe-card'>
            <img class="recipe-image" src="{{ recipes[recipe].image }}">
            <h5 class='recipe-title'>{{ recipes[recipe].title }}</h5>
            <div class="recipe-summary">
                <p>Serves {{ recipes[recipe].servings }}{% if recipes[recipe].servings=='1' %} person {% else %} people. {% endif %}</p>
                <p>Ready in {{ recipes[recipe].prep_time }} minutes.</p>
                <p>Requires {{ recipes[recipe].ing_count }} of your ingredients.</p>
                {% if recipes[recipe].missing_ing_count == '0' %}
                <p><span class="accent2">No ingredients missing!<span></p>
                {% else %}
                <p><span class="accent2">{{ recipes[recipe].missing_ing_count }} Missing {% if recipes[recipe].missing_ing_count =='1' %}ingredient{% else %}ingredients{% endif %}</span>.</p>
                {% endif %}
            </div>
            <form method="POST" action="/recipe">
                <input type="hidden" id="id" name="id" value="{{ recipes[recipe].id }}">
                <input class="directions-button"type="submit" value="View Directions">
            </form>   
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock body %}