{% extends 'nav-bar.html' %}
{% block title %}- Your Recipes{% endblock title %}
{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/recipes.css') }}">
{% endblock css %}
{% block body %}
{% if not recipes %}
<div class="main-container">
    <div class="caption-container">
        <h3>No recipes found. Please add more ingredients to your fridge!</h3>
    </div>
</div>
{% else %}
<div class="main-container">
    <div class="caption-container">
        <h2 class="recipe-caption">Give these recipes a try!</h2>
    </div>
    <div class="recipe-scroller">
        {% for recipe in recipes %}
        <div class='recipe-card'>
            <img class="recipe-image" src="{{ recipes[recipe].image }}">
            <h5 class='recipe-title'>{{ recipes[recipe].title }}</h5>
            <div class="recipe-summary">
                <p>Serves <span class="accent2">{{ recipes[recipe].servings }}</span>{% if recipes[recipe].servings=='1' %} person {% else %} people. {% endif %}</p>
                <p>Ready in <span class="accent2">{{ recipes[recipe].prep_time }}</span> minutes.</p>
                <p>Requires <span class="accent2">{{ recipes[recipe].ing_count }}</span> of your ingredients.</p>
                {% if recipes[recipe].miss_ing_count == '0' %}
                <p>No ingredients missing!</p>
                {% else %}
                <p><span class="accent2">{{ recipes[recipe].miss_ing_count }}</span> Missing {% if recipes[recipe].miss_ing_count =='1' %}ingredient{% else %}ingredients{% endif %}.</p>
                {% endif %}
            </div>
            <form method="POST" action="/recipe">
                <input type="hidden" id="id" name="id" value="{{ recipes[recipe].id }}">
                <input class="directions-button"type="submit" value="View Directions">
            </form>   
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock body %}